.input {
  @apply border-g4 border-solid border-[1px] rounded-[2px] w-full h-[48px] focus:border-g6 placeholder-[#BDBDBD] pl-[12px] font-pretendard font-normal;

  &.error {
    @apply border-a1;
  }
  &:focus {
    outline: none;
  }
}

.input::before {
  content: '$';
  position: absolute;
  left: 10px; /* 원하는 위치로 조절 */
  top: 50%; /* 수직 가운데 정렬 */
  transform: translateY(-50%);
}

.eye {
  @apply w-[24px] h-[24px];
}

.warning {
  @apply text-a1 font-pretendard text-[14px] h-[14px] mt-[4px];
}
