.button {
  @apply rounded-[2px] font-pretendard text-[18px];

  &.lg {
    @apply w-full px-[13px];
  }
  &.md {
    @apply w-medium px-[12px];
  }
  &.sm {
    @apply w-small px-[11px];
  }
  &.reset {
    @apply h-[54px] w-[110px] rounded-[2px] font-pretendard bg-transparent border border-solid border-r1 text-r1 text-[18px];
  }
  &.apply {
    @apply bg-r1 w-[217px] text-g0 h-[54px] rounded-[2px] border-r1 font-pretendard border-solid;
  }
  &.r1 {
    @apply bg-r1 text-g0;
  }

  &.r4 {
    @apply bg-r4 text-g0;
  }

  &.g2 {
    @apply bg-g2 text-g4;
  }

  &.disabled {
    @apply bg-g2 text-g4;
  }

  &.noBg {
    @apply bg-g0 border border-solid border-r1 rounded-[2px] text-r1;
  }

  &.none {
    @apply bg-transparent font-black border-none text-black;
  }

  &.outlined {
    @apply bg-g0 border border-solid border-g4 rounded-[2px] text-g5;
  }
}
.reset {
  @apply h-[54px] w-[110px] rounded-[2px] font-pretendard bg-transparent border border-solid border-r1 text-r1 text-[18px];
}

.submit {
  @apply bg-r1 w-[233px] text-g0 h-[54px] rounded-[2px] border-r1 font-pretendard border-solid;
}

.button-wrapper {
  width: 100%;
}
