.swiper-slide {
  background-position: center;
  background-size: cover;

  img {
    display: block;
    width: 100%;
  }
}

.tag {
  @apply absolute z-10 bottom-[14px] right-[19.5px] rounded-[4px] px-[2px] py-[4px] text-g1 text-[12px];

  background: rgba(33, 33, 33, 0.5);
}

.user-description-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.user-description-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.user-description-exit {
  transform: translateY(0);
  opacity: 1;
}

.user-description-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
