.modal-wrap {
  @apply bg-g0 w-default rounded-[4px] shadow-[0_16px_32px_rgba(0,0,0,0.08)] p-[16px] pt-[20px] justify-center items-center text-center gap-[20px] absolute top-[50%] left-[50%];

  transform: translate(-50%, -50%);
}

.overlay {
  @apply bg-[rgba(0,0,0,0.2)] w-full h-full fixed top-0 z-[1000];

  max-width: 448px;
  min-width: 360px;
  margin: 0 auto;
}
