@import '../components/Calendar/custom-calendar.scss';

input:focus,
button:focus,
div:focus {
  outline: none;
  box-shadow: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply justify-center max-w-max min-w-[320px];

  margin-left: auto !important;
  margin-right: auto !important;
}
